@tailwind base;

@tailwind components;

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 200;
    src: url(../fonts/SourceSansPro-ExtraLight.ttf) format("otf");
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 200;
    src: url(../fonts/SourceSansPro-ExtraLightItalic.ttf) format("otf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 300;
    src: url(../fonts/SourceSansPro-Light.ttf) format("otf");
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 300;
    src: url(../fonts/SourceSansPro-LightItalic.ttf) format("otf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 400;
    src: url(../fonts/SourceSansPro-Regular.ttf) format("otf");
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 400;
    src: url(../fonts/SourceSansPro-Italic.ttf) format("otf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 500;
    src: url(../fonts/SourceSansPro-SemiBold.ttf) format("otf");
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 500;
    src: url(../fonts/SourceSansPro-SemiBoldItalic.ttf) format("otf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-style: bold;
    src: url(../fonts/SourceSansPro-Bold.ttf) format("otf");
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 600;
    src: url(../fonts/SourceSansPro-BoldItalic.ttf) format("otf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 700;
    src: url(../fonts/SourceSansPro-Black.ttf) format("otf");
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 700;
    src: url(../fonts/SourceSansPro-BlackItalic.ttf) format("otf");
    font-style: italic, oblique;
}


@tailwind utilities;

