<html>
    <head>
        <title>My Test app</title>
        <link
            href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body class="bg-white">
        <div class = "flex border-gray-400 border-b w-full">
            <div class="flex border-b-4 border-transparent py-2 px-8 text-xl font-semibold hover:text-blue-300 hover:border-b-4 hover:border-blue-500">
                Hii
                <div class="text-gray-300 pl-3">8</div>
            </div>
        </div>
    </body>
</html>
